@charset "UTF-8";
/* gackground
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.twitter-timeline {
  width: 95% !important;
}

a {
  text-decoration: none;
}

a img {
  border-color: none;
}

p, label {
  text-align: left;
}

.date {
  text-align: right;
}

figure {
    display: inline-block;
    margin: 0px 3px 6px 0px;
}

.trim {
  object-fit: cover;
  width: 100px;
  height: 200px;
}

.items {
  text-align: center;
}

.circle {
  border-radius: 100px;
}

span {
  background: #ffe674;
}

.formrun {
  padding-top: 10rem;
}

.contents {
  padding-top: 50px;
  padding-bottom: 50px;
}

.point-heading {
  color: #11DFC7;
}

.bg {
  background-image: url('../img/bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.bg-footer {
  background-image: url('../img/bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.section-title {
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url('../img/bg_blur.jpg');
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.section-bg {
  background-color: #e7e7e7;
}

/* pagetop
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pagetop {
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 20px;
}

.pagetop:hover {
  opacity: 0.85;
}

/* nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */

nav {
  padding: 0 0;
  text-align: center;
  margin-top: 100px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #000;
  display: block;
  padding: 8px;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
}

nav ul li a:hover {
  color: #11DFC7;
}

nav ul li a, nav ul li a:after, nav ul li a:before {
  transition: all .5s;
}

nav.stroke ul li a {
  position: relative;
}

nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #11DFC7;
  height: 2px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

/* button
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button, button {
  border-radius: 100px;
}

/* card
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.card {
  padding-top: 2rem;
}

.card-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}

.card-heading {
  margin-bottom: .3rem;
  color: #222;
}

.card-description {
  opacity: .8;
  font-weight: 300;
  color: #222;
}


/* section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

article {
  padding: 8rem 0 7rem;
  text-align: center;
  background-color: #fff;
}

section {
  padding: 5rem 0 4rem;
  background-color: #fff;
}

@media (max-width: 1024px) {
  .bg {
    background: url('../img/bg.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 10rem;
    padding-bottom: 9rem;
  }
  .bg-footer {
    background: url('../img/bg.jpg') no-repeat center center;
    background-size: cover;
    background-position: bottom;
    color: #fff;
    padding-top: 5rem;
    padding-bottom: 1rem;
  }

  /* Bigger than 550 */
  @media (min-width: 550px) {
    article {
      padding: 12rem 0 11rem;
    }
    /* Bigger than 1000 */
    @media (min-width: 1000px) {
      article {
        padding: 20rem 0 19rem;
      }
