@charset "UTF-8";

/* gackground
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-position: center;
}
body::before {
  background-image: url('../img/bg.jpg') no-repeat left top;
  background-size: 100% auto;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 108px
  content: "";
  z-index: -1;
}

.bg {
background-size: cover;
background-position: center;
color: #fff;
padding-top: 20rem;
padding-bottom: 20rem;
}

.bg-footer {
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
}

a img {
  border-color: none;
}

.point-heading {
  color: #11DFC7;
}

.section-title {
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url('../img/bg_blur.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position:relative;
}
.section-title::before {
  background-image:url('../img/bg_blur.jpg') no-repeat left top;
  background-size: 100% auto;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 108px;
  content: "";
  z-index: -1;
}

.section-bg {
  background-color: #e7e7e7;
}

/* img */
.items {
  text-align: center;
}

.social {
  border-radius: 100px;
}

span {
  background: #85fff1;
}

.formrun {
  padding-top: 10rem;
}

.contents {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* pagetop
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pagetop {
 position: fixed;
 z-index: 2147483647;
 bottom: 20px;
 right: 20px;
}
.pagetop:hover
{
    opacity: 0.85 ;
}

/* nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  padding: 0 0;
  text-align: center;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  color: #fff;
  display: block;
  padding: 8px;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
}
nav ul li a:hover{
  color: #11DFC7;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav.stroke ul li a{
  position: relative;
}
nav.stroke ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #11DFC7;
  height: 2px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

/* button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button {
  border-radius: 100px;
}

/* card
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.card {
  padding-top: 2rem;
}
.card-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.card-heading {
  margin-bottom: .3rem;
  color: #222;
}
.card-description {
  opacity: .8;
  font-weight: 300;
  color: #222;
}

.twitter-timeline {
  width: 95% !important;
}

/* section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
article {
  padding: 8rem 0 7rem;
  text-align: left;
  background-color: #fff;
}

section {
  padding: 5rem 0 4rem;
  background-color: #fff;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  article {
    padding: 12rem 0 11rem;
  }

/* Bigger than 1000 */
@media (min-width: 1000px) {
  article {
    padding: 20rem 0 19rem;
  }
