@charset "UTF-8";
/* 全体 */

html, body {
  font-size: 16px;
  color: #222;
  background-color: #fff;
  margin: 0;
  font-family: sans-serif;
}

/* ナビメニュー */

nav ul {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 0;
  padding: 6px;
  list-style-type: none;
}

nav li.logo {
  margin-right: auto;
}

nav a {
  display: block;
  border-radius: 4px;
  padding: 12px 24px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #8cae47;
}

/* 試し書き */

h2 {
  color: #16b6ab
}

a {
  color: #16b6ab;
  text-decoration: none;
}

a img {
  border-color: none;
}

a:visited {
  color: #16b6ab;
}

a:hover {
  color: #fff628;
}

header {
  margin-top: 1em;
  padding: 0 16px;
}

main. footer {
  padding: 0 16px;
}

section {
  margin-left: 3em 0;
}
