@charset "UTF-8";

a {
  text-decoration: none;
}

a img {
  border-color: none;
}

.point-heading {
  color: #11DFC7;
}

/* img */
.items {
  text-align: center;
}

.social {
  border-radius: 100px;
}

span {
  background: #11DFC7;
}

/* pagetop
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pagetop {
 position: fixed;
 bottom: 20px;
 right: 20px;
}
.pagetop:hover
{
    opacity: 0.85 ;
}

/* nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  padding: 0 0;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav.stroke ul li a{
  position: relative;
}
nav.stroke ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #11DFC7;
  height: 2px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

/* button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button {
  border-radius: 100px;
}

/* section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: left;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* gackground
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bg {
background-image: url('../img/bg.png');
background-size: cover;
background-position: center;
color: #fff;
padding-top: 20rem;
padding-bottom: 20rem;
}
.bg-footer {
  background-image: url('../img/bg.png');
  background-size: cover;
  background-position: bottom;
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

/* card
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.card {
  padding-top: 5rem;
}
.card-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.card-heading {
  margin-bottom: .3rem;
  color: #222;
}
.card-description {
  opacity: .8;
  font-weight: 300;
  color: #222;
}


/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
